$menuFontColor: #cdd9e5;
$menuFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

header {
  height: 63px;
  width: 100%;
  background-color: #2d333b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .github-icon {
    width: 50px;
    margin: 10px 0 10px 30px;
    span {
      display: none;
    }
  }

  .menus {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: $menuFontColor;
    font-weight: 600;
    line-height: 1.5;
    font-family: $menuFontFamily;
    padding: 10px;
    svg {
      display: none;
    }

    div {
      margin: 10px;
      &:hover {
        color: #adbac7;
      }
    }
  }
  .right-tools {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 15px;
    span {
      margin: 10px;
      img {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        margin-right: 5px;
      }
    }
    details {
      $par: #{&};
      position: absolute;
      border: 1px solid #444c56;
      width: 140px;
      height: fit-content;
      border-radius: 6px;
      border-top-right-radius: -20px;
      background-color: #2d333b;
      color: #cdd9e5b3;
      font-weight: 600;
      margin-top: 30px;
      margin-right: 50px;
      font-size: 14px;
      display: none;
      line-height: 1.8;
      padding-top: 10px;
      summary {
        list-style: none;
        display: none;
        border: none;
        &::-webkit-details-marker {
          display: none;
        }
      }
      p {
        margin: 0;
        padding-left: 10px;
        height: 30px;
        vertical-align: bottom;
      }
      p:hover {
        cursor: pointer;
        background-color: #4184e4;
      }
    }
  }
}
.searchbar {
  label {
    input {
      height: 28px;
      line-height: 20px;
      background-color: #22272e;
      border: none;
      outline: none;
      border-radius: 6px;
      width: 264px;
      margin-left: 0;
      font-weight: 600;
      transition: width 0.25s;
      &::placeholder {
        color: #adbac7;
      }

      &:focus {
        border: 1px solid #4184e4;
        width: 540px;
        outline-offset: 0px;
        color: $menuFontColor;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & + span {
          display: none;
        }
      }
    }
    span {
      margin-left: -25px;
      margin-top: 150px;
    }
  }
  ul {
    list-style: none;
    position: absolute;
    color: $menuFontColor;
    margin-top: -2px;
    margin-left: -39px;
    width: fit-content;
    transition: width 0.2s;
    z-index: 1;
    transition: width 0.25s, visibility 0.25s;
    visibility: "hidden";

    li {
      display: flex;
      flex-direction: row;
      height: 20px;
      align-items: center;
      background-color: #22272e;
      outline: 0.3px solid #373e47;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #4184e4;
        svg {
          fill: $menuFontColor;
        }
        button {
          background-color: #22272e;
          display: block;
        }
      }
      span {
        width: 50px;
      }
      p {
        width: 400px;
      }
      button {
        width: fit-content;
        margin-right: 0px;
        border: none;
        height: 25px;
        outline: 0.3 solid #373e47;
        border-radius: 6px;
        display: none;
        color: #4c535e;
        cursor: pointer;
        font-size: 12px;
      }
    }
  }
}
