body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  // display: flex;
  // flex-direction: row;
  // justify-content:space-around;
  width: 100%;
  height: fit-content;
  background-color: #22272e;

  @import "tabs";
  @import "tabs_content";
  @import "user_content";
}
