body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
i,
a,
svg,
img,
button:hover {
  cursor: pointer;
}
main {
  width: fit-content;
  height: fit-content;
  background-color: #22272e;
  display: flex;
  flex-direction: column;
  @import "tabs";
  @import "tabs_content";
  @import "user_content";
}

@import "media_queries";
