$topbarBgColor: #2d333b;
$topbarFontColor: #cdd9e5;
$topbarFontWeight: 600;

$fontSize: 14px;
$tabsFontColor: #768390;
$pageBgColor: #22272e;

$pinnedCardTitleColor: #539bf5;
$buttonBgColor: #373e47;

$userFullnameFontSize: 26px;
$usernameFontSize: 20px;

$selectedTabUnderlying: #f9826c;
